In [3]:
import pandas as pd

In [4]:
pwd

'E:\\machine learning\\Tensorflow_machine'

In [8]:
df = pd.read_csv("maroore.csv")

In [36]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [37]:
df['Year']

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
32440    2018
32441    2018
32442    2018
32443    2018
32444    2018
Name: Year, Length: 32445, dtype: int64

In [38]:
df[['Year','Industry_code_NZSIOC']]

       Year Industry_code_NZSIOC
0      2018                99999
1      2018                99999
2      2018                99999
3      2018                99999
4      2018                99999
...     ...                  ...
32440  2018                 ZZ11
32441  2018                 ZZ11
32442  2018                 ZZ11
32443  2018                 ZZ11
32444  2018                 ZZ11

[32445 rows x 2 columns]

In [39]:
df['Year'].max()

2018

In [40]:
df['Year'].min()

2018

In [41]:
df.describe()

          Year
count  32445.0
mean    2018.0
std        0.0
min     2018.0
25%     2018.0
50%     2018.0
75%     2018.0
max     2018.0

In [42]:
df['Year'] > 2013

0        True
1        True
2        True
3        True
4        True
         ...
32440    True
32441    True
32442    True
32443    True
32444    True
Name: Year, Length: 32445, dtype: bool

In [43]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [44]:
myfilter = df['Year'] >= 2018

In [45]:
df[myfilter]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2018,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

AttributeError: 'DataFrame' object has no attribute 'as_matrix'